
<%= form_with(url: room_join_path, method: :post) do |f| %>
  <%= f.label :room_name, "Room Name" %>
  <%= f.text_field :room_name %>

  <%= f.label :room_password, "Password" %>
  <%= f.password_field :room_password %>

  <%= f.submit "ルームに参加" %>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>