<%= render "shared/header" %>

<div class="show-main">
  <div class="show-name"><%= @manual.manual_name %></div>
  <div class="show-btn">
    <div class="show-manual-btn"><%= link_to "編集", edit_room_manual_path(@room, @manual) %></div>
    <div class="show-manual-btn"><%= link_to "もどる", room_manuals_path(@room, @manual) %></div>
    <div class="show-manual-btn"><%= link_to "削除する", room_manual_path(@room, @manual), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></div>
  </div>
  <div class="show-main-sub">
    <div class="show-image">
      <% if @manual.image.present? %>
        <%= image_tag(@manual.image ) %> 
      <% else %>
        <%= image_tag("sample.png") %>
      <% end %>
    </div>
    <div class="detail-table">
        <div class="detail-tables">
          <div class="detail-item">登録者</div>
          <div class="detail-value"><%= @manual.user.name %></div>
        </div>
        <div class="detail-tables">
          <div class="detail-item">型番</div>
          <% if @manual.model_number.present? %>
            <div class="detail-value"><%= @manual.model_number %></div>
          <% else %>
            <div class="detail-value">データがありません</div>
          <% end %>
        </div>
        <div class="detail-tables">
          <div class="detail-item">取扱説明書のURL</div>
          <% if @manual.manual_url.present? %>
            <div class="detail-value"><%= link_to @manual.manual_url, @manual.manual_url, target: "_blank" %></div>
          <% else %>
            <div class="detail-value">データがありません</div>
          <% end %>
        </div>
        <div class="detail-tables">
          <div class="detail-item">保証期限</div>
          <% if @manual.assurance.present? %>
            <div class="detail-value"><%= @manual.assurance %></div>
          <% else %>
            <div class="detail-value">データがありません</div>
          <% end %>
        </div>
        <div class="detail-tables">
          <div class="detail-item">購入日</div>
          <% if @manual.manual_date.present? %>
            <div class="detail-value"><%= @manual.manual_date %></div>
          <% else %>
            <div class="detail-value">データがありません</div>
          <% end %>
        </div>
        <div class="detail-tables">
          <div class="detail-item">購入価格</div>
          <% if @manual.price.present? %>
            <div class="detail-value"><%= @manual.price %></div>
          <% else %>
            <div class="detail-value">データがありません</div>
          <% end %>
        </div>
        <div class="detail-tables">
          <div class="detail-items">メモ</div>
          <% if @manual.manual_memo.present? %>
            <div class="detail-values"><%= simple_format(@manual.manual_memo) %></div>
          <% else %>
            <div class="detail-values">データがありません</div>
          <% end %>
        </div>
    </div>
  </div>
</div>