<%= render "shared/header" %>



<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">登録者</th>
      <td class="detail-value"><%= @manual.user.name %></td>
    </tr>
    <tr>
      <th class="detail-item">商品名</th>
      <td class="detail-value"><%= @manual.manual_name %></td>
    </tr>
    <tr>
      <th class="detail-item">型番</th>
        <% if @manual.manual_name.present? %>
          <td class="detail-value"><%= @manual.model_number %></td>
        <% else %>
          <td class="detail-value">データがありません</td>
        <% end %>
    </tr>
    <tr>
      <th class="detail-item">取扱説明書のURL</th>
      <td class="detail-value"><%= @manual.manual_url %></td>
    </tr>
    <tr>
      <th class="detail-item">保証期限</th>
      <td class="detail-value"><%= @manual.assurance %></td>
    </tr>
    <tr>
      <th class="detail-item">購入日</th>
      <td class="detail-value"><%= @manual.manual_date %></td>
    </tr>
    <tr>
      <th class="detail-item">購入価格</th>
      <td class="detail-value"><%= @manual.price %></td>
    </tr>
    <tr>
      <th class="detail-item">メモ</th>
      <td class="detail-value"><%= @manual.manual_memo %></td>
    </tr>
  </tbody>
</table>