<%= render "shared/header" %>

<div class="room-main">
  <div class="room-page-left">
    <%= link_to image_tag("user-image.jpg", class:"room-page-image"), "#" %>
  </div>

  <div class="room-show-right">
    <%# 設定ボタン %>
    <%= image_tag("setting.jpg", id: "settingsIcon") %>
    <ul id="settingsList" class="hidden">
      <li><%= link_to "ユーザーの編集", edit_user_path(current_user) %></li>
      <li><%= link_to "ルームの編集", edit_room_path(@room) %></li>
      <li><%= link_to "ルームに参加", room_join_path(current_user) %></li>
    </ul>

    <% if notice.present? %>
      <div class="room-notice">
        <%= notice %>
      </div>
    <% end %>

    <div class="room-manual"><%= link_to "取説一覧ページ", room_manuals_path(@room) %></div>
    <div class="room-book"><%= link_to "漫画一覧ページ", room_books_path(@room) %></div>
    <div class="room-item"><%= link_to "その他アイテム一覧ページ", room_items_path(@room) %></div>
    <%= link_to "ルーム一覧ページ", rooms_path %>
  </div>
</div>